<div class="col">
  <div class="col-md-12 mb-3">
  <img src="assets/product.png" class="rounded-circle" width="200px" height="200px" />
  </div>
  <div class="col-md-12">
    <div class="col-md-12">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information de l'article</h2>

    </div>
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-ccontrol" placeholder="Code article">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Designation">


          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-ccontrol" placeholder="Prix Unitaire HT">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Taux TVA">


          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-ccontrol" placeholder="Prix Unitaire TTC">
            </div>
            <div class="col">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
                <option>1</option>
                <option>2</option>
              </select>

          </div>
        </div>
      </form>

    </div>
  </div>
</div>
