<div class="accordion" id="accordionExample">
  <div class="card" *ngFor="let menu  of menuProperties" >
    <div class="accordion-item">
      <div class="accordion-header" id="menu{{ menu.id }}">
        <h2 class="mb-8">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            [attr.data-target]="'#collapse' + menu.id "
            aria-expanded="true" aria-controls="collapseOne">
            <i class="{{ menu.icon }}"></i>&nbsp;
            {{ menu.titre  }}
          </button>
        </h2>
      </div>

        <div id="collapseOne{{ menu.id }}" class="accordion-collapse collapse show" [attr.aria-labelledby]="'menu + menu.id '" data-bs-parent="#accordionExample">

          <div class="card" >
              <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let sousMenu of menu.sousMenu">

                    <i class="{{ sousMenu.icon }}"></i>&nbsp;
                    <a (click)="navigate(sousMenu.url)">{{ sousMenu.titre }}</a>


                  </li>

              </ul>


          </div>
    </div>
    </div>
  </div>
</div>
