<div class="container my-container">


  <div class="card justify-content-md-center" >
    <div class="card-header text-center">
     <h3> Se Connecter </h3>
    </div>
  <div class="card-boy" >

    <div class="mb-3">
      <input type="text" class="form-control"  placeholder="Nom">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control"  placeholder="Code Fiscal">
    </div>


      <div class="mb-3">
      <input type="text" class="form-control"  placeholder="Adresse 1">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control"  placeholder="Adresse 2">
    </div>

    <div class="mb-3">
      <input type="e" class="form-control"  placeholder="Ville">
    </div>

    <div class="mb-3">
      <input type="text" class="form-control"  placeholder="Code Postal">
    </div>

    <div class="mb-3">
      <input type="password" class="form-control"  placeholder="Mot de passe">
    </div>

    <div class="mb-3">
      <input type="password" class="form-control"  placeholder="Confirmer Mot de Passe">
    </div>



    <div class="mb-3 d-flex justify-content-between">
      <button type="button" class="btn btn-primary">S'inscrire</button>

      <button type="button" class="btn btn-primary">Se Connecter</button>



    </div>
  </div>

  </div>

  </div>

