<div class="col">
    <div class="row m-md-3">
        <div class="col-md-8 p-0">
            <h1>Liste des articles</h1>
        </div>
        <div class="col-md-4 text-right">
            les boutton
        </div>
    </div>
    <div class="col m-3">
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>

    </div>

    <div class="row text-center">
      <div>
        <app-pagination></app-pagination>
      </div>
    </div>
</div>
